*~
.#*
#*
\#*\#
.\#*
*.aux
*.log
*.out
*.orig
*.toc
*.lol
*.Rout
.Rprofile
.Rhistory
.Rproj.user
Rplots.pdf
*_cache/
*_files/
cache/
auto/
_site/
*.pdf
site_libs/
slides/*.html
tutorials/*.html
tutorials/*.pdf
README.html
datasets.html
index.html
slides/config/My Collection.bib
