/* Corpo ------------------------------------ */

body {
    color: black;
    /* font-family: "Gill Sans MT", "Gill Sans", GillSans, sans-serif; */
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    /* font-family: "Lato", sans-serif; */
    font-size: 14pt;
    margin: auto;
    width: 1000px;
    position: unset;
    padding-top: 3em;
}

/* https://www.webpagefx.com/blog/web-design/responsive-background-image/ */
body {
    background-image: url(leg.png), url(ufpr-fundo-16x9.jpg);
    background-size: 100px, cover;
    background-attachment: fixed, fixed;
    background-position: bottom 2em right 2em, center center;
    background-repeat: no-repeat, no-repeat;
    background-color: #464646, #464646;
}

body.single_slide div.slide {
    position: unset;
}

div.first-slide {
    margin-top: 20%;
}

div.slide.titlepage h1 {
    padding-top: 5%;
    font-size: 200%;
}

div.slide.titlepage h1.subtitle {
    padding-top: 0%;
    margin-top: 0px;
    font-size: 160%;
}

div.level1 h1 {
    margin: 25% auto auto auto;
    display: block;
    color: #777;
    text-align: center;
    font-size: 185%;
}

/* Listas ----------------------------------- */

ul,
ol,
ul li,
ol li,
li li:first-child,
li li:last-child {
    margin-top: 0px;
    margin-bottom: 0px;
    /* border: 1px solid grey; */
}

li:first-child {
    margin-top: 10px;
}

li:last-child {
    margin-bottom: 10px;
}

ul:not([class]) li {
    list-style: none;
    font-style: normal;
    /* font-size: 100%; */
}

ol:not([class]) li {
    font-style: normal;
}

ul:not([class]) li:before {
    content: '\25B8';
    margin-left: -1em;
    position: absolute;
}

/* Parafrases ------------------------------- */

blockquote {
    width: 600px;
    box-shadow: none;
    background: none;
    display: block;
    margin: auto;
}

blockquote p {
    text-indent: 0em;
}

blockquote p:last-child {
    text-indent: 0em;
    text-align: right;
    font-style: normal;
    display: inherit;
}

/* Tabela ----------------------------------- */

:root{
    --tb-line-color: #000;
}

table caption {
    text-align: left;
}

table {
    margin: auto;
    border-collapse: collapse;
}

table td {
   border-bottom: 1px solid var(--tb-line-color);
}

table th {
    border-top: 2px solid var(--tb-line-color);
    border-bottom: 2px solid var(--tb-line-color);
}

/* Tabela com o nome dos autores. */
div.first-slide table th,
div.first-slide table td,
div.first-slide table tbody {
    border: none;
    padding:0 25px 0 25px;
}

/* Figura ----------------------------------- */

div.figure {
    width: 90%;
    margin: auto;
    /* background: #DDD; */
}

img {
    margin: auto;
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

p.caption {
    text-align: left;
}

/* Código ----------------------------------- */

div.sourceCode {
    overflow-x: unset;
    /* margin-left: -0.3em; */
    /* margin-right: -0.3em; */
}

pre,
code,
pre.sourceCode,
code.sourceCode {
    font-size: 80%;
}

code {
    background-color: transparent;
}

pre {
    font-weight: normal;
    line-height: 100%;
    padding: 8px;
    /* border: none; */
    border-width: 1px;
    border-radius: 3px;
    border-color: #BBBDC0;
    color: #383838;
    background-color: rgba(215, 215, 215, 0.5);
}

pre.sourceCode {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Referências ------------------------------ */

div.references p {
    text-indent: -1em;
    margin-left: 1em;
    text-align: left;
}
